html, body {
    background-color: #c7c5cf;
    height: 100%;
}

#page-content {
    flex: 1 0 auto
}

    
/* ///NAVBAR/// */

/* personal navbar styling */
.myName {
    justify-content: center;
    align-items: center;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    color:#c7c5cf;
    padding-top: .6rem;
    padding-right: 2rem;
    white-space: nowrap;
    font-size: 30px;
    text-transform: uppercase;
}

.d-flex a:hover {
    text-decoration: none;
}

.navbackground {
    background-color: #324159;
}

.logo {
    height: 50px;
    width: auto;
}

/* .myName size and padding settings small viewports*/
@media only screen and (max-device-width: 475px) {
    .myName {
        justify-content: center;
        align-items: center;
        font-family: 'Libre Franklin', sans-serif;
        text-align: center;
        text-shadow: 1px 1px 4px black;
        color:#c7c5cf;
        padding-top: .6rem;
        padding-right: 1.5rem;
        white-space: nowrap;
        font-size: 5vw;
        text-transform: uppercase;
    }
}

/* ///HEROAREA/// */

/* hero img (unsplash img Photo by JOHN TOWNER on Unsplash) */
section .hero {
    background-image: url(imagefolder/john-towner-unsplash.jpg);
    alt: "mountains";
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; 
}

/* turning off parallax on small viewports*/
@media only screen and (max-device-width: 475px) {
    section .hero {
        background-image: url(imagefolder/john-towner-unsplash.jpg);
        alt: "mountains";
        height: 500px;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: 50% 30%;
        background-size: cover; 
    }    
}

/* hero text */
section figure h1 {
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    text-shadow: 1px 1px 4px black;
    font-weight: 500;
    text-transform: uppercase;
    color: #c7c5cf;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* ///BIOAREA/// */

/* bio profile picture */
#biopic {
    position: relative;
    bottom: 100px;
    padding: none none;
    border-radius: 70px;
    /* width: 100%;
    height: auto;
    max-width: 350px;
    min-width: 225px; */
}
    

/* bio first letter */
.firstcharacter {
    color: #982b34;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

/* bio text */
section article p {
    font-family: 'Roboto', sans-serif;
    position: relative;
    bottom: 100px;
}

/* ///RESUME PAGE STYLING/// */

.resume-window {
    position: relative;
    bottom: 100px;
    border-radius: 70px;
}

/* ///PORTFOLIO & CONTACT PAGE STYLING/// */

.pageheader {
    text-align: center;
    font-family:'Libre Franklin', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px black;
    font-weight: 500;
    color: #c7c5cf;
    padding: 30px;
    margin: 0;
    background-image: url(imagefolder/john-towner-unsplash.jpg);
    alt: "mountains";
    background-attachment: scroll;
    background-position: 50% 20%;
    background-size: cover; 
}

header h1 {
    margin: 0;
}

.pagetext {
    text-align: center;
    font-family:'Roboto', sans-serif;
    text-transform: uppercase;
    color: #324159;
    padding: 30px;
    position: relative;
    top: 10px;
}

/* ///PORTFOLIO PAGE/// */

/* carousel styling */

.carousel-caption {
    text-shadow: 1px 1px 4px black;
}

/* card styling */

.portfoliocards {
    border-color: #982b34;
    border-style: solid;
    background-color: #dbdade;
}

.card-title, .card-text {
    color: #324159;
} 

.btn {
    color: #dbdade;
    background-color: #982b34;
    border-color: #324159;
}


/* ///CONTACT PAGE/// */

.form-control, .form-group {
    color: #324159;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
 }

.formstyle {
    border-color: #982b34;
    border-style: solid;
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.text-area {
    background-color: #dbdade;
}

.linkedin {
    width: 50px;
    height: auto;
    border-color: #324159;
    border-style: solid;
    border-radius: 10px;
}

.thankyou {
    text-align: center;
    font-family:'Roboto', sans-serif;
    color: #324159;
    margin-top: 50px
}

/* ///PAGE BOTTOM/// */

.logoside {
    height: 50vw;
    display: flex;
    justify-items: center;
    margin:100px;
    opacity: 50%;
}

/* ///FOOTER/// */

footer {
    text-align: center;
    color: #c7c5cf;
    background-color:#1f273f;
}
 #sticky-footer {
     flex-shrink: none;
 }

/* ///OTHER/// */
/* header font: font-family: 'Libre Franklin', sans-serif; */
/* body option 1: font-family: 'Roboto', sans-serif; */
